#root {
    display:flex;
    background-color: rgb(250, 247, 241);
    flex-direction: row;
    height:100%;
    width:100%;
    margin:0;
}

.input {
    align-items: start;
}

.edit {
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    flex-direction: column;
    width: 100%;
}

.boxEmail {
    display:flex;
    flex-direction: row;
    text-align: left;
}

.tableHeadCell.MuiTableCell-root{
    background-color: black;
    color: white;
}