html,body {
    height:100%;
    width:100%;
    margin:0;
}

body {
    display:flex;
    background-color: rgb(250, 247, 241);
    align-items: center;
    justify-content: center;
}

/* форма забыли*/
.btnForgetConfirm:hover {
    background-color: green;
}

.btnCancel:hover {
    background-color: red;
}

/* форма регистрации */
.btnRegistrationConfirm:hover {
    background-color: green;
}

.errorInfo {
    color: red;
}

.error-message {
    color: red;
    font-size: 12px;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}